<!DOCTYPE html>

<html lang="en">

<head>
    {{!-- meta tags --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sweet G's Cookies</title>
    <link rel="icon" type="image" href="https://www.freemonogrammaker.com/wp-content/uploads/2018/02/g-1-1-150x223.png" />

    <!-- link to the jQuery Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- link to reset.css -->
    <link rel="stylesheet" href="/css/reset.css"></link>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    {{!-- link to style.css --}}
    <link rel="stylesheet" href="/css/style.css"></link>
    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Calligraffitti|Do+Hyeon|Homemade+Apple|La+Belle+Aurore|Martel|Nothing+You+Could+Do|Raleway:500" rel="stylesheet">
    </head>

<body>
    <nav>
        <div class="nav-wrapper blue-grey darken-1 z-depth-3" id="navbarstyle">
            <a href="#" class="brand-logo center "><img style="margin-top: 10px; height: 180px; width: 400px;" src="http://pngimg.com/uploads/batman/batman_PNG75.png"></a>
            <ul class="left">
                <li><a class="navfont" href="/">home</a></li>
                <li><a class="navfont" href="/about">about</a></li>
                <li><a class="navfont" href="/gallery">gallery</a></li>
            </ul>
            <ul class="right">
                <li><a class="navfont" href="/customorder">custom order</a></li>
                <li><a class="navfont" href="/faq">faq</a></li>
                <li><a class="navfont" href="/contact">contact me</a></li>
            </ul>
        <div>
    </nav>
    <div class="pagecontainer">

        {{{body}}}

        <footer class="page-footer blue-grey darken-1">
        <div class="row center-align">
            <h6>Connect with Sweet G's Cookies</h6>
            <h6>
                <img style="width: 50px;" src="images/Facebook.png">
                <img style="width: 50px;" src="images/Instagram.png">
            </h6>
            <br>
            <h6 style="font-size: 10pt;">Website Designed and Developed by Doreen Sheen</h6>
        </div>
        </footer>
    </div>
</body>



</html>