{{!-- <div class="pagecontainer"> --}}
    <img id="homebanner" src="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/37971791_2376660989227125_8533491059508903936_n.jpg?_nc_cat=0&oh=456fc2fa9ffd5ac0f61e28190288df20&oe=5C0B749F"/>
    <div class="container">
        <div class="center-align">
            <h1>Home Page</h1>
            <div class="section">  
                <h6 style="font-family: 'Martel', serif;">I just wanted to thank you so much for my daughters beautiful ballerina pink white and gold cookies !! They were just amazing ! They made cake main table come together. As soon as I saw them my mouth dropped!! I will def be getting in contact with you for future orders ! It was well worth the money . Thanks again.
                </h6>
            </div>
        </div>
    </div>
        {{!-- <footer class="page-footer blue-grey darken-1">
          <div class="row valign-wrapper">
            <div class="left" style="padding-left: 50px;">
                <h6 class="valign-wrapper">
                    Connect with Sweet G's Cookies 
                    <img style="width: 10%;" src="images/Facebook.png">
                    <img style="width: 10%;" src="images/Instagram.png">
                </h6>
            </div>
            <h6 class="right valign-wrapper" style="font-size: 12pt; padding-right: 50px;">Website Created by Doreen Sheen</h6>
          </div>
        </footer>
</div> --}}